@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
}

.cabecalho {
    background-color: rgb(10, 151, 97);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    height: 10%;
}


input[type="submit"] {
    background-color: rgb(10, 151, 97);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto; 
    width: 15%;
}

input, select {
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.data-inicio, .data-fim, .resolvido, .descricao, .responsavel, .classificacao {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 20px;
}

.descricao label, .responsavel label, .classificacao label, .data-inicio label, .data-fim label, .resolvido label, .acao-corretiva label, .escalonamento label { 
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; 
}

.nc label {
    font-size: 25px;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
