@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
}

.cabecalho {
    background-color: rgb(10, 151, 97);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    height: 10%;
}

.perguntas ul {
    list-style: none;
    padding: 10px;
}

.perguntas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pergunta-text {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    margin-left: 10px;
}

h3{
    padding: 10px;
}

.ok-nok {
    display: flex;
    align-items: center;
    margin-right: 2px; 
}


.ok-nok label {
    display: inline-flex;
    align-items: center;
    margin-right: 2px; 
}

.ok-nok input[type="radio"] {
    margin-right: 2px; 
}



.descricao, .responsavel, .classificacao {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 20px;
}

input, select {
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}


input[type="submit"] {
    background-color: rgb(10, 151, 97);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto; 
    width: 15%;
}

.descricao label,
.responsavel label,
.classificacao label {
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}